hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px;
  border-top: 5px solid #eeeeee;
}

* {
/*font-family: 'Dosis', sans-serif;
font-family: 'Droid Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Assistant', sans-serif;*/
font-family: 'Lato', sans-serif;
font-weight: 300;
}

p {
	font-size: 18px;
}

article {
	margin-bottom: 15px;
}

/*Catch-all for object widths*/
img, embed, object, video {
	/*max-width: 100%;*/
	width: 100%;
}

@media screen and (max-width: 12000px) {
	.page-header {
		display: flex;
		align-items: flex-end;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px;
		border-bottom: none;
	}
	.header-text {
		margin-top: 10px;

	}
	.right {
		float: right;
	    width: 100%;
	    margin: 0px;
	}
	.logo {
		margin-top: 20px;
		width: 190px;
		height: auto;
	}
	h1 {
		font-size: 45px;
	}
	h2 {
		font-size: 35px;
	}
	h3 {
		font-size: 40px;
		margin-top: 35px;
		margin-bottom: 15px;
	}
	h4 {
		font-size: 30px;
	}

	article {
		border-bottom: : 2px solid;
		border-color: black;
	}
}

@media screen and (max-width: 992px) {
	.page-header {
		display: flex;
		align-items: flex-end;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px;
		border-bottom: none;
	}
	.header-text {
		margin-top: 10px;
	}
	.right {
		float: right;
	    width: 100%;
	    margin: 0px;
	}
	.logo {
		margin-top: 20px;
		width: 180px;
		height: auto;
	}
	h1 {
		font-size: 33px;
	}
	h2 {
		font-size: 23px;
	}
	h3 {
		font-size: 40px;
		margin-top: 35px;
		margin-bottom: 15px;
	}
	h4 {
		font-size: 35px;
	}
}

@media screen and (max-width: 565px) {
	.page-header {
		display: flex;
		align-items: flex-end;
		margin-top: 0px;
		margin-bottom: 0px;
		border-bottom: none;
	}
	.header-text {
		margin-top: 10px;

	}
	.right {
		float: right;
	    width: 100%;
	    margin: 0px;
	}
	.banner {
		display: none;
	}
	.logo {
		margin-top: 10px;
		width: 150px;
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 18px;
		margin-top: 0px;
	}
	h3 {
		font-size: 27px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	h4 {
		font-size: 22px;
	}
	p {
		font-size: 16px;
	}
	hr {
		margin: 10px 0px 10px 0px;
	}
	div#social a {
    margin: 0 1em 0 0;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
Inherited from div#social
div#social {
    line-height: 2em;
}
Inherited from body
body {
    font-family: sans-serif;
    margin: 2em;
}
Pseudo ::before element
.zocial-twitter:before {
    content: "T";
}
[class*="zocial-"]:before {
    color: black;
    display: inline-block;
    font-family: 'zocial', sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    width: 2em;
}
}